<?xml version="1.0" ?>
<configurations xmlns="http://nex.sfc.wide.ad.jp/config">
 <entry configurationId="sample-01">
  <schemaFile>sample/schema_localized/00_canonical_example01.xsd</schemaFile>
  <Options alignment="bit-packed" compression="true" strict="true" sessionWindowBuffers="false"/>
 </entry>
</configurations>

