<?xml version="1.0" ?>
<configurations xmlns="http://nex.sfc.wide.ad.jp/config">
 <entry configurationId="sample-01">
  <schemaFile>sample/schema_localized/00_canonical_example01.xsd</schemaFile>
 </entry>
 <entry configurationId="sample-02">
  <schemaFile>sample/schema_localized/00_canonical_example02.xsd</schemaFile>
 </entry>
</configurations>

